<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
        <%= f.error_notification %>

        <div class="form-group">
          <%= f.input :email, required: true, label: false, placeholder: "Email", input_html: {class: "form-control"} %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable), label: false, placeholder: "Password", input_html: {class: "form-control"} %>

    	  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-group">
          <%= f.button :submit, "Log in", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
