<div class="jumbotron text-center">
	<h1>Timeline</h1>
	<div class="btn-group" role="group" aria-label="Default">
		<%= link_to "Everything", activities_path, class: "btn btn-default #{'active' unless params[:content]}" %>
		<%= link_to "Just Posts", activities_path(content: "posts"), class: "btn btn-default #{'active' if params[:content] == 'posts'}" %>
	</div>
</div>

<div class="container">
	<ul class="timeline">
		
		<% @activities.each_with_index do |activity| %>
			<% unless activity.trackable_type == "Friendship" && activity.owner == current_user %>
			<% if activity.trackable %>
				<% if cycle('odd', 'even') == 'odd' %>
					<li class="timeline-inverted">
				<% else %>
					<li>
				<% end %>
				<div class="timeline-badge"><%= gravatar_tag activity.owner.email, size: 55 %></div>
				<div class="timeline-panel">				
					<div class="timeline-heading">
						<h4 class="timeline-title"><%= link_to activity.owner.username, user_path(activity.owner.username) %></h4>
						<p><small><%= time_ago_in_words(activity.created_at) %></small></p>
					</div>
					<div class="timeline-body">
						<% case activity.trackable_type when "Post" %>
						<p><%= raw(activity.trackable.content_html) %>
						<% when "Friendship" %>
						<%= link_to activity.owner.username, user_path(activity.owner.username) %> is now friends with <%=link_to activity.recipient.username, user_path(activity.recipient.username) %>
						<% end %>
					</div>
				</div>
					
			<% end %>
			<% end %>
		<% end %>
	</ul>
</div>